<div class="flex flex-col items-center px-4 py-16 lg:px-20 lg:py-24">
  <div class="flex flex-col-reverse md:flex-row gap-12 max-w-screen-xl">
    <section class="flex flex-col">
      <div class="flex flex-col gap-12">
        <div class="flex flex-col max-w-screen-md gap-4">
          <hero-title [title]="heroCardData.title" />
          <hero-descriptions [descriptions]="heroCardData.descriptions" />
        </div>
        <hero-location
          [location]="heroCardData.location"
        ></hero-location>
        <social-links [links]="heroCardData.social.links"></social-links>
      </div>
    </section>
    <hero-image [url]="heroCardData.heroImage" />
  </div>
</div>
