<div class="flex flex-col items-center px-4 py-16 lg:px-20 lg:py-24">
  <div class="flex flex-col-reverse md:flex-row gap-12 max-w-screen-xl">
    <section class="flex flex-col">
      <div class="flex flex-col gap-12">
        <div class="flex flex-col max-w-screen-md gap-4">
          <h1>{{ heroCardData.title }}</h1>
          <markdown-list
            [items]="heroCardData.descriptions"
            class="flex flex-col gap-2"
          />
        </div>
        <hero-location [location]="heroCardData.location"></hero-location>
        <social-links [links]="heroCardData.social.links"></social-links>
      </div>
    </section>
    <cv-image [image]="heroCardData.image"></cv-image>
  </div>
</div>
